#imageMainView{
	position: relative;
	overflow: hidden;
	width:80%;
	height:80%;
}


.currentImageView{
	display:table; /*shrinkwrap contained image*/
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.currentImageView>img{
	pointer-events: none;
}

.linkArea{
	position: absolute;
	background-color: rgba(128, 255, 0, 0.24)
}

.ui-resizable{
	position: absolute; /*resizabel usually has relative. This overwites it.*/
}

.drawingRect{
	outline:1px solid rgba(0,0,0,0.5);
}

.imageViewport{
	position: relative;
	overflow: hidden;
	width:100%;
	height:100%;
}

#mainViewImage{
	width:80%;
	height:80%;
}
